.row
  .span12
    %legend Add new location
    = render 'form'

.row
  .span12
    %ol#locations-list
      - @locations.each do |location|
        %li
          %span[location]
            = location.name
            = link_to "Edit", edit_admin_location_path(location), :class => 'btn btn-mini'        
    