.row
  .span8
    = render :partial => 'investments/investment', :object => @investment

  .span2.offset2
    .pull-right
      %p
        = link_to "Back to list", admin_investments_path, :class => 'btn span2'
      %p
        = link_to "Edit", edit_admin_investment_path(@investment), :class => 'btn span2'
      %p
        = link_to "Manage Pictures", admin_investment_pictures_path(@investment), :class => 'btn span2'