.row
  .span12
    .pull-right
      = link_to "New Residential", new_admin_residential_path, :class => 'btn btn-primary'
      
= render :partial => 'admin/lots/table', :locals => { :lots => @residential }
