%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Access and Transport

.row
  .span10.offset1

    %p
      %h3 AIR

    %p
      Cyprus has <strong>two</strong> international airports in Larnaca and Paphos.

    %p
      <strong>Larnaca Airport</strong> is often used as a hub by passengers traveling between Europe and the Middles East and Cyprus' status as a major tourist destination means that numbers have steadily risen to over 5 million passengers a year.

    %p
      New modern Larnaca airport became fully operational in November 2009 and can accommodate 7.5 million per year.

    %p
      = image_tag 'static/about_cyprus/access_and_transport/1.jpg'


    %p{:style => 'margin-top: 45px;'}
      %h3 Sea

    %p
      <strong>The main harbors</strong> of the island are Limassol harbor and Larnaca harbor, which service cargo, passenger and cruise ships.

    .row
      .span6
        %ul
          %li A smaller cargo dock also exists at Vasilikos, near Zygi (a small town between Larnaca and Limassol). Smaller vessels and private yachts can dock at marinas in Cyprus.
          %li Both Larnaca and Limassol are cruise ship called in Cyprus, although Limassol receives more vessels. There are passenger facilities at both ports, also used by ferries taking people to the Middle East.
          %li <strong>Cyprus is keen</strong> to develop as a bigger cruise hub in the Mediter­ranean and is enjoying increasing success. More cruise lines are now venturing through the Suez Canal to the Red Sea and the Gulf.
      .span4
        = image_tag 'static/about_cyprus/access_and_transport/2.jpg'      

      