%legend
  = link_to 'Property Services', static_property_services_path
  = "/ Development Concept"

.row
  .span10
    %p
      The development and building of residences, offices, entertainment complexes, hotels and restaurants under a single brand.
    %p
      %center
        = image_tag 'static/development_concept_01.jpg'

    %p
      Development:

      %ul
        %li To choose a plot of land taking into account the conception of the company development.
        %li To participate in architectural and project works.
        %li To receive and resolve documentation for the completion of the construction.
        %li The management of the building works. 
        %li The promotion of the project to the market. 
        %li The interior, lighting and water designs.
        %li The landscape design. 
        %li The supplying of furniture and accessories from well known world brands. 
        %li The automation of objects. 
        %li The completion of projects.
        %li The attraction of investments.  
        %li To provide a maintenance service to the buyers of the real estate.
        %li The total management of the real estate.

