%legend
  = link_to 'About Cyprus', static_about_cyprus_path
  = "/"
  %strong
    Economic background

.row
  .span10.offset1
    %p
      = image_tag 'static/about_cyprus/economic_background/1.jpg'

    %p
      %h3 Macroeconomic Stability with a Successful Economic Performance
    %p
      Cyprus has a record of thriving economic performance reflected in rapid growth, near full employment and external and internal stability. Joining the Euro zone was a major accomplishment for the Cypriot economy, resulting in such benefits as a higher degree of price stability, lower interest rates, reduction of currency conversion costs and exchange rate risks and increased competition through greater price transparency.

    %p It has a standard of living that is even higher than some other European Union member-states and the performance of the economy compares favourably with that the most other EU countries.

    %p
      = image_tag 'static/about_cyprus/economic_background/2.jpg', :class => 'pull-right'
      %h3 Tax System

      %ul
        %li <strong>Zero to Low tax rate regime.</strong> Taxable profits are taxed at the rate of 10% for all Cyprus companies, as there is no more distinction between local companies and IBCs. Still it is the lower tax rate in Europe and the nearby countries.
        %li <strong>Double tax treaties</strong> have been concluded with more than 40 countries. By using the provisions of these treaties and with the relatively low taxation in Cyprus, it is possible to achieve very significant tax reduction in both countries.
        %li There is <strong>no withholding tax on payment of dividends, interest and royalties to non-resident individuals or to non-resident corporate shareholders.</strong>
        %li <strong>VAT is lower than the other European countries at 15%.</strong>
        %li <strong>No inheritance tax.</strong>
