%legend
  = link_to 'Property Services', static_property_services_path
  = "/"
  %strong
    %u Mission
      

.row
  .span8.offset1

    %p
      The realization of developing projects of premium, elite real estate.

    %p
      = image_tag 'static/property_services/mission/1.jpg', :style => 'width: 80%'

    %p
      Our aim is to create a single conception of building methods corresponding to the criteria of modern aesthetics and opulence.

    %p
      The formation of a vital space enhancing an organized life and creating a totally superlative residence.

    %p
      The development of a philosophical approach directed to the augmentation and motivation of employees and to also form a lasting impression.

    %p
      To lead the field in a wide association of all constituent businesses in the creation of a product and to form our own segment in the market (in the absence of one).

    %p
      To provide prestige, decorum and intelligence to assist and satisfy the queries of our clients.

    %p
      = image_tag 'static/property_services/mission/2.jpg'