%legend
  = link_to 'Property Services', static_property_services_path
  = "/ Our Mission"

.row
  .span4
    = image_tag 'static/our_mission.jpg'
  .span7
    %ul
      %li
        The realization of developing projects of premium, elite real estate.

      %li
        Our aim is to create a single conception of building methods corresponding to the criteria of modern aesthetics and opulence.

      %li
        The formation of a vital space enhancing an organized life and creating a totally superlative residence.

      %li
        The development of a philosophical approach directed to the augmentation and motivation of employees and to also form a lasting impression.

      %li
        To lead the field in a wide association of all constituent businesses in the creation of a product and to form our own segment in the market (in the absence of one).

      %li
        To provide prestige, decorum and intelligence to assist and satisfy the queries of our clients.

  