%legend 
  = link_to 'Property Services', static_property_services_path
  = "/ Our Services"

.row
  .span10
    %p
      For a viewing of our selection of real estate we can organize an acquainting excursion. Our specialist will meet and show you all the interesting aspects of our company; he will acquaint you with the lifestyle in the country and will answer all relevant questions.

    %p
      The services of the company are not limited to only selling a property to the customer; we also provide a wide spectrum of services in property administration and aftercare service:

    %ul
      %li
        Opening an account and help with negotiating bank credit (the recommendation, a guarantee).
      %li
        The selection of investment projects.
      %li
        Help with the registration of a residential permit.
      %li
        When making a decision about an acquisition of real estate, it is important to arrange a deal correctly, observing all necessary legal procedures. For this purpose you can take advantage of the services of an advocate of our company.
      %li
        A consultation concerning the choice of educational establishments for children. The employees of our company will assist in the selection of a school, University or pre-school establishment for your child.
      %li
        Help to organize the interior decoration of your house. Our company guarantees clients will receive considerable discounts on the purchase of furniture and domestic appliances, and will also help to provide punctual delivery of the goods to your door. We also offer a complete solution to the furnishing of your residence: an entire set of furniture, bed linen, tableware and other accessories with special prices from the known world of designers.
      %li
        Insurance. The company renders support in registration and organization of all types of insurance: from medical insurance to car insurance.
      %li
        Services of translators.
      %li
        Organization of car rental for you and your guests.
      %li
        Handling of the real estate for rental purposes. The real estate is able to bring you profits in your absence. We will help you to lease it out, playing the role of a managing company. We will also undertake to solve any issues and will prepare your residence for your arrival.
      %li
        The aftercare service of the real estate. We maintain our properties ensuring they are in prime condition all year round. Also we maintain the gardens, communal area and green planting.
      %li
        The registration of international companies and any relevant documentation.
