%legend Property Services

.row
  
  .span8
    %dl
      %dt Our Services
      %dd
        We are a real-estate developer in Cyprus focusing purely on creating luxurious properties for buyers at the top-end of the wealth scale.
        %br/
        = link_to 'read more ...', static_our_services_path
      %dt Our Mission
      %dd
        Our mission is to deliver prestigious projects defined by innovative design, modern technologies, high-quality materials and unparalleled craftsmanship. Driven by a passion for excellence we instill a unique sense of comfort and exclusivity to all our houses and apartments, surprising even the needs of the most demanding international clientele.
        %br/
        = link_to 'read more ...', static_our_mission_path
      %dt 
        Our Strategy
      %dd
        Our strict structural approach allows us to use the newest developments and technologies in the field of building and to acquire the most modern building materials from leading world producers.
        %br/
        = link_to 'read more ...', static_our_strategy_path
  .span4
    = image_tag "static/property_services.jpg"
  