.row
  .span12
    = link_to "New Residential", new_residential_path, :class => 'btn btn-primary pull-right'
.row
  .span12
    %ul#residential-list
      - @residential.each do |r|
        %li
          = link_to r.title, residential_path(r)
          = link_to "Edit", edit_residential_path(r), :class => 'btn btn-small' 