.row
  .span12
    .pull-right
      = link_to "New Plot", new_admin_plot_path, :class => 'btn btn-primary'
      
.row
  .span12
    %ol
      - @plots.each do |plot|
        %li
          %span[plot]
            = link_to plot.title, admin_plot_path(plot)
            = link_to "Edit", edit_admin_plot_path(plot), :class => 'btn btn-mini'

