.row
  .span8
    = render :partial => 'plots/plot', :object => @plot
    
  .span2.offset2
    .pull-right
      %p
        = link_to "Back to list", admin_plots_path, :class => 'btn span2'
      %p
        = link_to "Edit", edit_admin_plot_path(@plot), :class => 'btn span2'
      %p
        = link_to "Manage Pictures", admin_plot_pictures_path(@plot), :class => 'btn span2'